{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Misson</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ user }}</a></li>
                <li><a href="/logout/">退出</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/project/list/">用例管理</a></li>
                <li><a href="/project/module/list/">模块管理</a></li>
                <li class="active"><a href="">用例管理</a></li>
                <li><a href="">任务管理</a></li>
                <li><a href="">Mock管理</a></li>
                <li><a href="">测试工具</a></li>
            </ul>
        </div>
{#        用例列表页#}
        {% if type == 'list' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div>
                <h3 class="sub-header">
                    用例列表
                    <button type="button" class="btn btn-primary"
                            style="float: right" onclick="window.location.href='/api/debug/'">调试</button>
                </h3>

            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Desc</th>
                        <th>Status</th>
                        <th>CreateTime</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for api in apis %}
                    <tr>
                        <td>{{ api.name }}</td>
                        <td>{{ api.id }}</td>
                        <td>{{ api.describe }}</td>
                        <td>{{ api.status }}</td>
                        <td>{{ api.create_time  | date:'Y-m-d H:i:s' }}</td>
                        <td>
                            <a href="/api/edit/{{ api.id }}/" ><button type="button" class="btn btn-info">编辑</button></a>
                            <a href="/api/delete/{{ api.id }}/"><button type="button" class="btn btn-danger">删除</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        {% endif %}


        {#        创建用例页#}
        {% if type == 'debug' %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="table-responsive">
                    {% block debug %}
                    {% endblock %}
                </div>

            </div>
        {% endif %}

        {#        编辑用例页#}
        {% if type == 'edit' %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header">编辑用例</h3>
                <div class="table-responsive">

                    <form  action="/api/edit/{{pid}}/" method="post">
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">保存</button>
                    </form>
                </div>

            </div>
        {% endif %}


    </div>
</div>
{% endblock %}

