
<!doctype html>
<html lang="zh-CN">
<head>
    <title>首页</title>

    {% load static %}
    <link href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap-3.4.1-dist/css/signin.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</head>

<body>

<div class="container">
    <form class="form-signin" action="/login/" method="post">
        <h2 class="form-signin-heading text-center">测试平台</h2>
        <label for="inputEmail" class="sr-only">username</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="username" required autofocus>
        <label for="inputPassword" class="sr-only">password</label><br>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="password" required>
        <p class="text-center bg-danger">{{ error }}</p>
        <button class="btn btn-success btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>
